<!DOCTYPE html>
<html lang="en">
<head>
	<title>Success</title>
	<meta charset="utf-8">
	{% load static %}
	<link rel="stylesheet" href="{% static 'register/style.css' %}">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="alert alert-success" role="alert'">
					<h4 class="alert-heading">Account Information</h4>
						<div class="row account-info">
						    <div class="col-sm-6">
						    	<p>Account Balance:</p>
						    	<p>Amount of virtual currency:<p>
						    	<p>Equity:</p>
						    </div>
						    <div class="col-sm-6">
						    	<p>{{user.deposit_amount}}</p>
						    	<p>Sed ut perspiciatis...</p>
						    	<p>{{ currency.value }}</p>
						   	</div>
						</div>
				</div>

				<div class="alert alert-success" role="alert'">
					<h4 class="alert-heading">Price of Virtual Currency</h4>
						<div class="row account-info">
						    <div class="col-sm-6">
						    	<p>Value:</p>
						    </div>
						    <div class="col-sm-6">
						    	<p>{{currenct.value}}</p>
						   	</div>
						</div>
				</div>

				<div class="alert alert-success" role="alert'">	
						<div class="row account-info d-flex justify-content-center">
						    <div class="btn-group btn-group-lg">
							 	<button type="button" class="btn btn-success ">Buy</button>
								<button type="button" class="btn btn-danger">Sell</button>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>